
.button-style{
    color: white;
    background-color: teal;
    border: none;
    border-radius: 20%;
    padding: 3px 10px 5px 10px;
    font-size: 18px;
}

.heading-style{
    color: rgb(28, 53, 87);
}
